* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  background-color: rgb(26, 25, 25);
}


.notes {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem;
  text-align: center;
  width: 100%;
  align-items: center;
}

.note {
  background-color: grey;
  color: white;
  width: 13rem;
  padding: 1rem;
  border-radius: 1rem;
}